.pdf-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .pdf-modal-content {
    background-color: #fff;
    margin: 5% auto;
    border: 1px solid #888;
    width: 90%;
    max-width: 1250px;
    position: relative;
    overflow: hidden;
  }
  
  .pdf-modal-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #DDD;
    align-items: center;
  }
  
  .pdf-modal-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #DDD;
  }
  
  .modal-header-group {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .modal-header-group label {
    margin-bottom: 0;
  }
  
  .pdf-modal-header h3 {
    margin: 0;
  }
  
  .pdf-modal-body {
    height: 70vh;
    display: flex;
    background-color: #999;
    padding: 5px;
  }
  
  .pdf-canvas-container {
    overflow-y: scroll;
    margin-right: 5px;
  }

  .pdf-signers {
    overflow-y: scroll;
  }
  
  /* TOOLBOX */
  .pdf-modal-tools {
    flex: 1;
    height: 100%;
    background-color: #fff;
    padding: 10px;
    min-width: 285px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .new-field-option {
    background-color: #2A81BA; 
    padding: 10px;
    color: #fafafa;
    margin: 5px;
  }
  
  .new-field-option:hover{
    cursor: pointer;
    background-color: #2a72ba;
  }
  
  .tool-pain {
    position: absolute;
    right: -330px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: #fff;
    transition: right .25s ease-in;
    padding: 5px;
  }
  
  .tool-pain.show {
    right: 0px;
  }
  
  /* FORM VARIABLE SELECTION */
  .form-variable-selection {
    height: 80%;
    overflow-y: scroll;
  }
  
  .form-header-dropdown {
    background-color: #2470a3;
    padding: 10px;
    color: #fafafa;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .form-variable-item {
    background-color: #2A81BA; 
    padding: 0 10px;
    color: #fafafa;
    margin: 5px;
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
  }
  
  .form-variable-item:hover {
    background-color: #2470a3;
    cursor: pointer;
  }
  
  .form-variable-items {
    padding: 0 5px;
  }
  
  .form-item-variable-id {
    color: #c6c5c5;
  }
  
  #user-list {
    height: 40%;
    overflow-y: scroll;
  }
  
  .user-item {
    background-color: #2A81BA;
    color: #fff;
    padding: 10px;
    margin: 5px 0;
  }
  
  .user-item:hover {
    background-color: #2470a3;
    cursor: pointer;
  }
  
  /* SIGNATURE PAD */
  
  .signature-pad-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .signature-pad-content {
    background-color: #fafafa;
    margin: 5% auto;
    border: 1px solid #888;
    position: relative;
    overflow: hidden;
    padding: 10px;
    width: 550px;
  }
  
  .signature-canvas-container {
    background-color: #fff;
    border: 1px solid #ccc;
  }
  
  
  @media only screen and (max-width: 550px) {
    .signature-pad-content {
      width: 100%;
    }
  }
  
  
  